
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

/* main css code  */

body{
    font-family: 'Roboto', sans-serif;
}

/* Scroolbar design  */
body ::-webkit-scrollbar{
    width: 1px;
}
/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
background:#222831;
}

/* Handle */
::-webkit-scrollbar-thumb {
background:#00000070;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #fff232;
}
/* nav bar design  */

/* header design  */

/*  all flex display */
header, nav , .index, main, #container, .user, .prof, .form{
    display: flex;
}

/* normal-top background-colors */

.top-bg-white{
    transition: background-color 300ms ease-in-out;
    background-color: #EFFFFD;
    
}
.top-bg-dark{
    transition: background-color 300ms ease-in-out;
    background-color: #222831;
}
/* normal-middle bg color   */
 
.main-bg-white{
    transition: background-color 300ms ease-in-out;
    background-color: #fff;
} 
.main-bg-dark{
    transition: background-color 300ms ease-in-out;
    background-color: #393E46;
} 
/* text color 1  */

.font-white{
    transition: color 300ms ease-in-out;
    
}
.font-dark{
    transition: color 300ms ease-in-out;
    color: #fff;
}
/* box-shadow  */
.content, .devImg, .contact{
    
    box-shadow: 0 1px 10px rgba(200,200,200,2) ;
    transition: all 0.1s ease-in;
}


header{
    z-index: 5;
    position: fixed;
    flex-direction: column;
    height:60px;
    top: 0;
    /* padding-top: 10px; */
    width: 100%;
    align-items: left;
}
.logo{
    width: 70px;
    margin: 10px 10px 10px 100px;
}
 /* nave element design  */
nav{
    justify-content:left;
    align-items:baseline;
}
/* context menue button div  */

.index{
    width: 100%;
    /* padding-left: 200px; */
    /* height: 40px; */
    justify-content: space-between;
    padding: 10px 0 10px 0;
}
/* context button which is a tag  */

.indexLink{
   text-decoration: none;
   padding: 2px 20px;
   margin: 0 ;
   border: 0px solid #000;
   border-radius: 3px;
   font-size: .8rem;
   border: 1px solid #5b5c5c;
   opacity: 100%;
}
/* hover effect of a tags  */

.indexLink:hover{
    transition: all 0.1s ease-in;
    background-color: #42C2FF;
    color: #fff;
}
/* menue button design in mobile view  */

#menuButton{
    position:fixed;
    z-index: 6;
    visibility:hidden;
}



/* this button dissaper details at top of page */
.modeButton{
    position:fixed;
    z-index: 6;
    top: 10px;
    margin: 10px;
    right: 10px;
    width: auto;
    height: 30px;
    border-style: hidden;
    border-radius: 5px;
    background-color: #42C2FF;
    cursor: pointer;
    transition: all 200ms ease-out  ;
    color: #fff;
}
.darkButton{
    right: 100px;
    background-color: #222831;
}
.modeButton:hover{
    background-color: #fff;
    color: #42C2FF;
    font-weight: 500;
}
/* menue button design in mobile view  */

#menuButton{
    position:fixed;
    z-index: 6;
    left: 0;
    right: 10px;
    visibility:hidden;
}
/* body or main content design  */
/* main is all middle container  */
/* main contain a section which is our content container */

main {
    margin-top: 90px;
    flex-direction: row;
}

/* content container  */

#container {
    width: 100%;
    max-width: 50%;
    justify-content: right;
    flex-direction: column;
    margin-left: 20%;
    height: 80vh;
    overflow-y: scroll;
    /* background-color: #B8FFF9; */
}
/* all content class */

.content{
    border: 0px solid #35798c;
    border-radius: 10px;
    height: auto;
    margin: 15px 10px;
    box-sizing: border-box;
    padding: 1% 3%;
    /* color: #D8E3E7; */
    /* overflow-y:scroll; */
}

/* main heading big one  */

.mainHeading{
    font-weight: 200;
    font-size: 2rem;
    display: block;
    margin: 10px 0 0 0 ;
    font-family: 'Open Sans', sans-serif;
}
.mainH{
    display: inline;
    margin: 0;
}
/* second top heading  */

.secondHeading {
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;
    padding: 2px 2px;
    color:#fff;
    background-color:#979797;
    border: 0px solid;
    border-radius: 5px;
}
/* content seperator  */

hr .divider{
    border-style: none none none solid;
    border-top: 1px solid #D8E3E7;
    width:fit-content;
}

/* .details class is our main chart container  */

.details{
    width: 100%;
    /* background-color: #efefff;
    background-color: #393E4690; */
    opacity: 80%;
    height:auto;
    transition: all 0.1s ease-in;
    margin-bottom: 10px;
    /* overflow-y:scroll; */
}
/* for chart container */

.chatText{
    font-size: 1.3em;
    display: inline;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    
}
/* // this apply in chart container to dissapear details   */
.dissapear{
    transition:color 300ms ease-in;
    color: #393E46;
}
/* user chat and image container*/
.user {
    text-align: left;
}

/* pro chat and image container */
.prof{
    text-align: left;
}
/* their chat container  */
.text2, .text1 {
    margin: 10px;
    padding: 5px 15px;
    border:0px solid;
    border-radius: 10px;
    width: 80%;  
}

/* chart text of user and pro  */
.text1{
    margin-right: 7%;
}
.text2 {
    margin-left: 7%;
}
/* // user ing and pro img  */
.userImg {
    height: 50px;
}

/* code in chat  */

code {
    background-color: #3f3e3e;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    overflow: scroll;
    color: #fff;
    line-height: 2;
}
/* example box code in chat */
.codepen {
    background-color: #3f3e3e;
    color: #edf8fc;
    border-style: hidden;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 100;
    font-size: 0.8rem;
    line-height: 1.2;
}
 /* links in chat  */
.link{
    text-decoration:solid;
    font-weight: 500;
    background-color: #B8FFF9;
    padding: 0 5px;
    border:1px hidden #42C2FF;
    border-radius: 10px;
    font-size: smaller;
    color: #3f3e3e;
}
 /* highlited text in chat  */
.highlited{
    border: 1px hidden ;
    border-radius: 3px;
    padding: 0 5px;
    background-color: black;
    color: #fff;
    font-weight: 500;
    font-size: smaller;
}
/* we will provide form  */
.footlogo{
    width: 60px;
}
.form>h1{
    color: #ff4545;
}
#dev{
    color: #fff232;
}
.form {
    position: fixed;
    width: 27vw;
    z-index: 3;
    border-radius: 0px;
    margin: 10px 30px 20px 30px;
    color: #c8caca;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.devInfo {
    text-align: center;
}
.devInfo>p{
    padding-bottom: 10px;
}
.devImg{
    width: 250px;
    border-style: hidden;
    border-radius: 10px;
    margin: 10px 0;
    opacity: 90%;   
}
.contact{
    margin: 30px 0 0 0 ;
    width: 300px;
    padding: 30px 20px;
    text-align: left;
    border-style: hidden;
    border-radius: 20px;
}
.special {
    display: inline;
    text-align: center;
    left: 75px;
    position: relative;
    bottom: 40px;
    padding: 10px 5px;
    border-style: hidden;
    border-radius: 10px;
    background-color: #B8FFF9;
    color: #42C2FF;
}
.contactinfo{
    color: #c8caca;
    margin: 10px 0;
}
.fLink{
    margin: 20px;
}
.social{
    padding-top: 30px;
}

/* footer design container  */
footer{
    text-align: center;
    height: 15vh;
    background-color: #42c2ff;
    background-color: #FFD369;
    border-color:#c7d0d4;
}
/* footer social paragraph  */
footer>p{
    color:#0c1f24;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1rem;
    
}

@media (max-width: 1000px){
    header{
        height: 100px;
    }
    main {
        flex-direction: column;
        margin-top: 90px;
    }
    #container{
        margin-left: 80px;
        max-width: 80%;
    }
    #menuButton{
        visibility:visible;
        width: 40px;
        margin-left: 20px;
    }
    .modeButton{
        top: 50px;
    }
    .mainHeading{
        font-size: 2rem;
    }
    .secondHeading{
        font-size: 0.5rem;
    }
    
    .chatText{
        font-size: 1rem;
        letter-spacing: 1.5px;
    }
    .text1{
        margin-right: 3%;
    }
    .text2 {
        margin-left: 3%;
    }
    .userImg {
        height: 20px;
    }
    code{
        font-size: .8rem;
    }
    .codepen{
        font-size: 0.6rem;
    }
    footer>p{
        font-size: 0.7rem;
    }
    .index{
        margin-top: 50px;
        flex-direction: column;
        height: 235px;
        visibility: hidden;
        padding: 1px;
        opacity: 90%;
        border: 0px solid #c8caca;
    }
    .indexLink{
        margin-bottom: 5px;
        background-color: inherit;
        display: inline;
        width: auto;
        border: 0px solid #c8caca;
        color: #699db6;
    }
    .form {
        position:relative;
        z-index: 0;
        width: unset;
        border-radius: 0px;
        max-width: 100%;
    }
    aside{
        width: 100%;
    }
}

@media (max-width: 620px){
    .logo{
        width: 60px;
        margin: 20px 10px 10px 40px;
        
    }
    #container{
        margin-left: 0;
        max-width: 100%;
    }
    .index{
        margin-top: 30px;
    }
    .mainHeading{
        font-size: 1.6rem;
    }
    
    .devImg{
        width: 180px;   
    }
    .contact{
        width: 200px;
    }
    .special {
        left: 29px;
    }
}
@media (max-width: 340px){
    .logo{
        width: 60px;
        margin: 20px 10px 10px 40px;
    }
    .mainHeading{
        font-size: 1.1rem;
        
    }
    .mainH{
        visibility: hidden;
    }
    #menuButton{
        width: 30px;
        margin-left: 15px;
    }
    .index{
        margin-top: 20px;
    }
    .devImg{
        width: 180px;   
    }
    .contact{
        width: 200px;
    }
}

.hidden{
    visibility: visible;
    
}

